@font-face {
	font-family: Montserrat;
	src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
